// Color Variables
$primary-color: #006125;
$secondary-color: #e9f2f2;
$text-color: #000000;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$icon-font: 'themify';
